@charset "utf-8";

.free_Box{
    display:flex;
    align-items:center;
    height:850px;
    justify-content:center;
}

img.main_img{
    width:250px;
    height:250px;
}

body{
    background-color:aliceblue;
}