@charset "utf-8";
/*趣味選択ページ*/
ul.like{
    display:flex;
    justify-content:center;
    margin-top:200px;
}
ul.like img{
    width:200px;
    height:200px;
}
.fav-title{
    font-size:2.0em;
    text-align: center;
    margin-right:500px;
}
.like{
    font-size: 1.5em;
}