@charset "utf-8";

/*marvelのサイト*/
.marvel-title{
    display:flex;
    justify-content:center;
    font-size:2.0em;
    margin-right:500px;
}
.marvel-text{
    text-align:center;
    display:block;
    margin-top:200px;
}
.marvel-text .text{
    text-align:left;
    display:inline-block;
}
.hero{
    width: 300px;
    height: 450px;
}
.hero img{
    width:300px;
    height:450px;
}
.marvel-nav{
    display:flex;
}
