@charset "utf-8";

/*snapのページ*/
.trip-main{
    text-align: center;
    display: block;
}
.trip-text{
    text-align: left;
    display:inline-block;
    margin-right: 100px;
}
.trip-title{
    font-size:2.0em;
    margin-bottom: 200px;
    margin-right:500px;
}
.snapbox{
    position: relative;
    z-index:10;
    width:1300px;
    margin:0 auto;
    
}
.snaps{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.snaps img{
    width:350px;
    height: 240px;
    margin:10px;
}
.snap{
    opacity:0;
    visibility:hidden;
    transition:1s;
    transform:translateY(30px);
}
.active{
    opacity:1;
    visibility: visible;
    transform: translateY(0);
}